* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #386ca7; /* Old browsers */
  background: #5aa6bf; /* Old browsers */
  background: -moz-linear-gradient(top,  #5aa6bf 0%, #386ca7 25%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5aa6bf), color-stop(25%,#386ca7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #5aa6bf 0%,#386ca7 25%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #5aa6bf 0%,#386ca7 25%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #5aa6bf 0%,#386ca7 25%); /* IE10+ */
  background: linear-gradient(to bottom,  #5aa6bf 0%,#386ca7 25%); /* W3C */
  background-repeat: no-repeat;
  background-color: #386ca7;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: "SF UI Text", "Liberation Sans", sans-serif;
  background-image: url('../img/background.png');
  background-position: center -26em;
  background-repeat: no-repeat;
}

#fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0; 
}

pre {
  background-color: rgba(0,0,0,0.39);
  border-radius: 0.5em;
  padding: 1.5em 2em;
  font-size: 1em;
  margin: 2em 0;
  line-height: 1.5em;
  position: relative;
}

p {
  line-height: 1.7em;
  color: rgba(255,255,255,0.8);
  font-size:  1em;
  width: 95%;
}

.comment {
  opacity: 0.5;
}

.inline {
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.3em;
  font-family: monospace;
}

h3 {
  margin-top: 2em;
  font-size: 1.6em;
}

h3 + p {
  margin-top: 1em;
}

p + p {
 margin-top: 1.5em; 
}

h4 {
  margin-left: 1em;
  margin-top: 2em;
}

ul + h3 {
  margin-top: 2.5em;
}

ul + p {
  margin-top: 2.5em;
}

#wrapper {        
  margin-left: auto;
  margin-right: auto;
  padding: 4em;
  width: 48em;
  min-height: 100%;
  position: relative;
}

.download {
  font-weight: bold;
  background-color: rgba(0,0,0,0.39);
  border-radius: 0.5em;
  width: 19.5em;
  padding: 1.3em;
  font-family: sans-serif;
  float: left;
  line-height: 1.2em;
  margin: 3.5em 0;
  margin-top: 0;
  margin-right: 0.5em;
}

.clear a:first-child .download {
  color:red;
}

.donate {
  font-weight: bold;
  background-color: rgba(0,0,0,0.33);
  border-radius: 0.5em;
  width: 12.5em;
  padding: 1.3em;
  font-family: sans-serif;
  float: left;
  line-height: 1.2em;
  margin: 2.5em 0.38em;
  background-repeat: no-repeat;
  background-position: 24px center;
  padding-left: 60px;
  padding-top: 1.4em;
}

.download:hover,
.donate:hover {
  cursor: hand;
  background-color: #f57900;  
}

.download .details {
  font-size: 0.8em;  
  font-weight: normal;
}

#features {
  float: left;
  margin-top: 7.5em;
  margin-left: 2em;
}

#features li {
  line-height: 1.2em;
  font-family: sans-serif;
}

#graphic {
  float: right;
  margin-right: 4.5em;
  margin-top: 6px;
}

.clear {
  clear: both;
}

a {
  font-weight: bold;
  color: #fff;
  font-family: sans-serif;
}

a:hover {
  text-decoration: underline;
}

#logo {
  position: absolute;
  left: 6em;
}

.column {
  float: left;
  width: 20em;
}

ul {
  padding-left: 1em;
}

ul li {
  margin-top: 0.8em;
  list-style: none;
  margin-left: 0.7em;
}

li a {
  opacity: 0.8;
}

li#flattr a {
  padding-top: 4px;
}

ul#good li {
  background-image: url('../img/smile.png');
  background-repeat: no-repeat;
  padding-left: 24px;
  background-position: left center;
  color: rgba(255, 255, 255, 0.75);
}

ul#bad li {
  background-image: url('../img/sad.png');
  background-repeat: no-repeat;
  padding-left: 24px;
  background-position: left center;
  color: rgba(255, 255, 255, 0.75);
}

